@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply font-inter;

  --sds-light: #ffffffde;
  --sds-dark: #011631;
  --sds-pink: #fed5f4;
  --sds-blue: #4da2ff;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, #root {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  min-width: 100%;
  min-height: 100vh;
}

