.path-0 {
  animation: pathAnim-0 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-0 {
  0% {
    d: path(
      'M 0,600 L 0,112 C 56.04122294744073,112.92133287530058 112.08244589488146,113.84266575060117 173,114 C 233.91755410511854,114.15733424939883 299.71143936791486,113.55066987289592 374,144 C 448.28856063208514,174.44933012710408 531.0717966334593,235.9546547578152 599,279 C 666.9282033665407,322.0453452421848 720.0013740982482,346.63071109584337 799,372 C 877.9986259017518,397.36928890415663 982.9227069735484,423.5225008588113 1064,434 C 1145.0772930264516,444.4774991411887 1202.3077980075575,439.2792854689111 1261,458 C 1319.6922019924425,476.7207145310889 1379.8461009962211,519.3603572655445 1440,562 L 1440,600 L 0,600 Z'
    );
  }
  25% {
    d: path(
      'M 0,600 L 0,112 C 56.11817244933013,114.9378220542769 112.23634489866026,117.87564410855379 172,137 C 231.76365510133974,156.1243558914462 295.17279285468913,191.4352456200618 378,200 C 460.82720714531087,208.5647543799382 563.0724836825834,190.38337341119893 644,217 C 724.9275163174166,243.61662658880107 784.5372724149775,315.03126073514255 851,338 C 917.4627275850225,360.96873926485745 990.7784266575061,335.4915836482308 1045,368 C 1099.221573342494,400.5084163517692 1134.3490209549982,491.0024046719341 1197,533 C 1259.6509790450018,574.9975953280659 1349.825489522501,568.498797664033 1440,562 L 1440,600 L 0,600 Z'
    );
  }
  50% {
    d: path(
      'M 0,600 L 0,112 C 56.31398144967365,83.45242184816215 112.6279628993473,54.90484369632429 179,85 C 245.3720371006527,115.09515630367571 321.80212985228445,203.83304706286498 394,241 C 466.19787014771555,278.166952937135 534.1635176915149,263.7629680522157 609,257 C 683.8364823084851,250.23703194778432 765.5437993816558,251.11508072827212 846,289 C 926.4562006183442,326.8849192717279 1005.6612847818619,401.7767090346959 1065,450 C 1124.338715218138,498.2232909653041 1163.8110614908967,519.7780831329441 1223,534 C 1282.1889385091033,548.2219168670559 1361.0944692545518,555.1109584335279 1440,562 L 1440,600 L 0,600 Z'
    );
  }
  75% {
    d: path(
      'M 0,600 L 0,112 C 76.09893507385777,71.03538302988663 152.19787014771555,30.070766059773263 213,56 C 273.80212985228445,81.92923394022674 319.3074544829956,174.7523187907936 385,220 C 450.6925455170044,265.2476812092064 536.5723119203022,262.9199587770525 607,281 C 677.4276880796978,299.0800412229475 732.4032978357953,337.56784610099623 794,376 C 855.5967021642047,414.43215389900377 923.8144967365167,452.80865681896256 1007,462 C 1090.1855032634833,471.19134318103744 1188.338715218138,451.1975266231536 1263,463 C 1337.661284781862,474.8024733768464 1388.830642390931,518.4012366884232 1440,562 L 1440,600 L 0,600 Z'
    );
  }
  100% {
    d: path(
      'M 0,600 L 0,112 C 56.04122294744073,112.92133287530058 112.08244589488146,113.84266575060117 173,114 C 233.91755410511854,114.15733424939883 299.71143936791486,113.55066987289592 374,144 C 448.28856063208514,174.44933012710408 531.0717966334593,235.9546547578152 599,279 C 666.9282033665407,322.0453452421848 720.0013740982482,346.63071109584337 799,372 C 877.9986259017518,397.36928890415663 982.9227069735484,423.5225008588113 1064,434 C 1145.0772930264516,444.4774991411887 1202.3077980075575,439.2792854689111 1261,458 C 1319.6922019924425,476.7207145310889 1379.8461009962211,519.3603572655445 1440,562 L 1440,600 L 0,600 Z'
    );
  }
}

.path-1 {
  animation: pathAnim-1 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-1 {
  0% {
    d: path(
      'M 0,600 L 0,262 C 51.59120577121264,251.95877705255927 103.18241154242529,241.91755410511854 176,273 C 248.81758845757471,304.08244589488146 342.86155960151154,376.28856063208514 415,392 C 487.13844039848846,407.71143936791486 537.3713500515287,366.92820336654074 596,370 C 654.6286499484713,373.07179663345926 721.6530401923736,419.9986259017519 794,474 C 866.3469598076264,528.0013740982481 944.0164891789764,589.0772930264515 1022,603 C 1099.9835108210236,616.9227069735485 1178.281003091721,583.6922019924424 1248,594 C 1317.718996908279,604.3077980075576 1378.8594984541396,658.1538990037789 1440,712 L 1440,600 L 0,600 Z'
    );
  }
  25% {
    d: path(
      'M 0,600 L 0,262 C 65.3287530058399,257.4682239780144 130.6575060116798,252.93644795602887 200,265 C 269.3424939883202,277.06355204397113 342.6987289591206,305.722432153899 421,320 C 499.3012710408794,334.277567846101 582.5475781518378,334.1738234283751 651,378 C 719.4524218481622,421.8261765716249 773.1109584335279,509.58227413260045 840,539 C 906.8890415664721,568.4177258673996 987.0085881140501,539.4970800412231 1059,540 C 1130.99141188595,540.5029199587769 1194.8546891102712,570.4294057025078 1257,604 C 1319.1453108897288,637.5705942974922 1379.5726554448643,674.7852971487462 1440,712 L 1440,600 L 0,600 Z'
    );
  }
  50% {
    d: path(
      'M 0,600 L 0,262 C 87.54723462727586,261.8083132944006 175.0944692545517,261.6166265888011 236,260 C 296.9055307454483,258.3833734111989 331.16935760906904,255.3418069391961 392,294 C 452.83064239093096,332.6581930608039 540.2281003091722,413.01614565441434 618,438 C 695.7718996908278,462.98385434558566 763.9182411542425,432.5936104431467 835,458 C 906.0817588457575,483.4063895568533 980.0989350738578,564.609412572999 1046,605 C 1111.9010649261422,645.390587427001 1169.6860185503263,644.9687392648574 1234,656 C 1298.3139814496737,667.0312607351426 1369.1569907248368,689.5156303675712 1440,712 L 1440,600 L 0,600 Z'
    );
  }
  75% {
    d: path(
      'M 0,600 L 0,262 C 56.849192717279294,286.7818619031261 113.69838543455859,311.5637238062522 184,316 C 254.3016145654414,320.4362761937478 338.05565097904497,304.52696667811745 405,313 C 471.94434902095503,321.47303332188255 522.0790106492614,354.3284094812779 603,398 C 683.9209893507386,441.6715905187221 795.6283064239093,496.15939539677083 860,525 C 924.3716935760907,553.8406046032292 941.4077636551015,557.0340089316386 993,575 C 1044.5922363448985,592.9659910683614 1130.7406389556852,625.7045688766747 1211,651 C 1291.2593610443148,676.2954311233253 1365.6296805221573,694.1477155616626 1440,712 L 1440,600 L 0,600 Z'
    );
  }
  100% {
    d: path(
      'M 0,600 L 0,262 C 51.59120577121264,251.95877705255927 103.18241154242529,241.91755410511854 176,273 C 248.81758845757471,304.08244589488146 342.86155960151154,376.28856063208514 415,392 C 487.13844039848846,407.71143936791486 537.3713500515287,366.92820336654074 596,370 C 654.6286499484713,373.07179663345926 721.6530401923736,419.9986259017519 794,474 C 866.3469598076264,528.0013740982481 944.0164891789764,589.0772930264515 1022,603 C 1099.9835108210236,616.9227069735485 1178.281003091721,583.6922019924424 1248,594 C 1317.718996908279,604.3077980075576 1378.8594984541396,658.1538990037789 1440,712 L 1440,600 L 0,600 Z'
    );
  }
}

.path-2 {
  animation: pathAnim-2 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-2 {
  0% {
    d: path(
      'M 0,600 L 0,412 C 82.60322913088288,379.2861559601511 165.20645826176576,346.57231192030224 225,360 C 284.79354173823424,373.42768807969776 321.77739608381995,432.996908278942 389,477 C 456.22260391618005,521.003091721058 553.6839574029543,549.44005496393 631,578 C 708.3160425970457,606.55994503607 765.4867743043628,635.2428718653383 830,663 C 894.5132256956372,690.7571281346617 966.3689453795946,717.5884575747167 1044,740 C 1121.6310546204054,762.4115424252833 1205.0374441772585,780.4032978357951 1272,800 C 1338.9625558227415,819.5967021642049 1389.4812779113709,840.7983510821025 1440,862 L 1440,600 L 0,600 Z'
    );
  }
  25% {
    d: path(
      'M 0,600 L 0,412 C 53.43387152181381,401.9470972174511 106.86774304362763,391.8941944349021 183,410 C 259.1322569563724,428.1058055650979 357.96289934730333,474.3703194778426 426,511 C 494.03710065269667,547.6296805221574 531.2806595671592,574.6245276537272 596,599 C 660.7193404328408,623.3754723462728 752.9144623840605,645.1315699072485 821,671 C 889.0855376159395,696.8684300927515 933.0614908965993,726.8491927172793 1002,753 C 1070.9385091034007,779.1508072827207 1164.839574029543,801.4716592236344 1242,819 C 1319.160425970457,836.5283407763656 1379.5802129852286,849.2641703881827 1440,862 L 1440,600 L 0,600 Z'
    );
  }
  50% {
    d: path(
      'M 0,600 L 0,412 C 80.9220199244246,418.88491927172794 161.8440398488492,425.7698385434559 219,448 C 276.1559601511508,470.2301614565441 309.5458605290277,507.8055650979045 377,527 C 444.4541394709723,546.1944349020955 545.9725180350397,547.007901064926 623,555 C 700.0274819649603,562.992098935074 752.564067330814,578.162830642391 807,601 C 861.435932669186,623.837169357609 917.7712126417041,654.3407763655101 1001,682 C 1084.228787358296,709.6592236344899 1194.3510821023701,734.4740638955685 1272,764 C 1349.6489178976299,793.5259361044315 1394.824458948815,827.7629680522157 1440,862 L 1440,600 L 0,600 Z'
    );
  }
  75% {
    d: path(
      'M 0,600 L 0,412 C 79.87701820680178,416.7688079697698 159.75403641360356,421.53761593953965 227,443 C 294.24596358639644,464.46238406046035 348.86087255238743,502.6183442116112 413,539 C 477.13912744761257,575.3816557883888 550.8024733768465,609.9890072140157 626,617 C 701.1975266231535,624.0109927859843 777.9292339402268,603.4256269323257 854,603 C 930.0707660597732,602.5743730676743 1005.4805908622468,622.3084850566815 1060,660 C 1114.5194091377532,697.6915149433185 1148.1484026107867,753.3404328409481 1208,790 C 1267.8515973892133,826.6595671590519 1353.9257986946068,844.329783579526 1440,862 L 1440,600 L 0,600 Z'
    );
  }
  100% {
    d: path(
      'M 0,600 L 0,412 C 82.60322913088288,379.2861559601511 165.20645826176576,346.57231192030224 225,360 C 284.79354173823424,373.42768807969776 321.77739608381995,432.996908278942 389,477 C 456.22260391618005,521.003091721058 553.6839574029543,549.44005496393 631,578 C 708.3160425970457,606.55994503607 765.4867743043628,635.2428718653383 830,663 C 894.5132256956372,690.7571281346617 966.3689453795946,717.5884575747167 1044,740 C 1121.6310546204054,762.4115424252833 1205.0374441772585,780.4032978357951 1272,800 C 1338.9625558227415,819.5967021642049 1389.4812779113709,840.7983510821025 1440,862 L 1440,600 L 0,600 Z'
    );
  }
}
