@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply font-inter;

  color-scheme: light dark;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  min-width: 320px;
  min-height: 100vh;
}
#root {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
}
